---
import * as styles from './NotFoundPage.styles'
import Link from '#src/components/Link.astro'
---

<div class={styles.notFound}>
  <h1 class={styles.title}>404 Not Found.</h1>
  <Link href="/">トップページに戻る</Link>
</div>
