---
import { SITE_NAME } from '../../../constants'

const { pathname } = Astro.url

const Title = pathname === '/' ? 'h1' : 'div'
---

<header
  class="js-header sticky top-0 w-full bg-slate-200/30 backdrop-blur transition"
>
  <div class="flex items-center max-w-5xl py-4 px-6 mx-auto">
    <div class="mr-auto">
      <Title class="text-xl">
        <a href="/" class="hover:underline">{SITE_NAME}</a>
      </Title>
      <p class="text-sm text-gray-700">技術ブログ改め、Qiitaの下書き</p>
    </div>
    <a
      href="https://github.com/iMasanari"
      target="_blank"
      rel="noopener"
      class="py-1 px-4 ml-2 rounded bg-slate-200 shadow-neumo hover:shadow-neumo-inset transition-shadow"
    >
      Qiita
    </a>
    <a
      href="https://github.com/iMasanari"
      target="_blank"
      rel="noopener"
      class="py-1 px-4 ml-2 rounded bg-slate-200 shadow-neumo hover:shadow-neumo-inset transition-shadow"
    >
      GitHub
    </a>
  </div>
</header>

<script>
  const header = document.querySelector('.js-header')!
  const headerHeight = 64 // header.getBoundingClientRect().height

  let prevScrollPos = 0
  let prevVisible = true

  window.addEventListener('scroll', () => {
    const currentScrollPos = window.pageYOffset

    const visible =
      currentScrollPos < headerHeight || currentScrollPos <= prevScrollPos

    if (visible !== prevVisible) {
      if (visible) {
        header.classList.remove('-translate-y-full')
      } else {
        header.classList.add('-translate-y-full')
      }

      prevVisible = visible
    }

    prevScrollPos = currentScrollPos
  })
</script>
