---
import type { HTMLAttributes } from 'astro/types'
import { tw } from 'tw-tag'

type Props = HTMLAttributes<'h2'>
const props = Astro.props

const h2Style = tw(`
  pl-3
  mt-12
  mb-8
  border-l-4
  border-slate-700
  text-2xl
  font-bold
`)
---

<h2 class={h2Style} {...props}>
  <slot />
</h2>
