---
import type { HTMLAttributes } from 'astro/types'
import { css } from 'molcss'

type Props = HTMLAttributes<'h2'>
const props = Astro.props

const h2Style = css`
  padding-left: 0.75rem /* 12px */;
  margin: 3rem 0 2rem /* 48px 0 32px */;
  border-left-width: 4px;
  border-color: rgb(51 65 85);
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
`
---

<h2 class={h2Style} {...props}>
  <slot />
</h2>
