---
import type { HTMLAttributes } from 'astro/types'
import { mergeStyle } from 'molcss'
import * as styles from './H3.styles'

type Props = HTMLAttributes<'h3'>

const props = {
  ...Astro.props,
  class: mergeStyle(styles.h3, Astro.props.class),
}
---

<h3 {...props}>
  <slot />
</h3>
