---
import type { HTMLAttributes } from 'astro/types'
import { mergeStyle } from 'molcss'
import * as styles from './H4.styles'

type Props = HTMLAttributes<'h4'>

const props = {
  ...Astro.props,
  class: mergeStyle(styles.h4, Astro.props.class),
}
---

<h4 {...props}>
  <slot />
</h4>
