---
import type { HTMLAttributes } from 'astro/types'
import { tw } from 'tw-tag'

type Props = HTMLAttributes<'p'>
const props = Astro.props

const pStyle = tw(`
  my-2
`)
---

<p class={pStyle} {...props}>
  <slot />
</p>
