---
import type { HTMLAttributes } from 'astro/types'
import * as styles from './P.styles'
import { mergeStyle } from 'molcss'

type Props = HTMLAttributes<'p'>

const props = {
  ...Astro.props,
  class: mergeStyle(styles.p, Astro.props.class),
}
---

<p {...props}>
  <slot />
</p>
