---
import type { HTMLAttributes } from 'astro/types'
import { css } from 'molcss'

type Props = HTMLAttributes<'p'>
const props = Astro.props

const pStyle = css`
  margin: 0.5rem 0 /* 8px 0 */;
  white-space: pre-wrap;
`
---

<p class={pStyle} {...props}>
  <slot />
</p>
