---
import { Icon } from 'astro-icon'
import { tw } from 'tw-tag'

const { copyText } = Astro.props

const buttonStyle = tw(`
  appearance-none
  overflow-hidden
  p-2
  rounded-full
  shadow-neumo
  hover:shadow-neumo-inset
  transition-shadow
`)

const iconStyle = tw(`
  w-4
  h-4
`)
---

<button
  class={`js-copy-button ${buttonStyle}`}
  aria-label="copy"
  data-text={copyText}
>
  <Icon name="ic:outline-content-copy" class={iconStyle} />
</button>

<script>
  import { tw } from 'tw-tag'

  const tooltipStyle = tw(`
    fixed
    top-2
    left-0
    right-0
    w-max
    py-2
    px-4
    rounded
    mx-auto
    bg-blue-300
    shadow-md
    cursor-pointer
  `)

  const createToolTip = () => {
    const tooltip = document.createElement('div')

    tooltip.className = tooltipStyle
    tooltip.textContent = 'コードをコピーしました！'

    window.addEventListener('click', () => tooltip.remove(), {
      once: true,
      capture: true,
      passive: true,
    })

    setTimeout(() => tooltip.remove(), 5000)

    document.body.appendChild(tooltip)
  }

  const buttons =
    document.querySelectorAll<HTMLButtonElement>('.js-copy-button')

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      const copyText = button.dataset.text

      if (copyText) {
        navigator.clipboard.writeText(copyText).then(createToolTip)
      }
    })
  })
</script>
