---
import type { HTMLAttributes } from 'astro/types'
import { css, mergeStyle } from 'molcss'

interface Props extends HTMLAttributes<'a'> {}

const { class: className, ...props } = Astro.props

const linkStyle = css`
  color: rgb(37 99 235);
  &:hover {
    text-decoration-line: underline;
  }
`
---

<a class={mergeStyle(linkStyle, className)} {...props}>
  <slot />
</a>
