---
import type { HTMLAttributes } from 'astro/types'
import { tw } from 'tw-tag'

interface Props extends HTMLAttributes<'a'> {}

const { class: className, ...props } = Astro.props

const linkStyle = tw(`
  text-blue-600
  hover:underline
`)
---

<a class:list={[className, linkStyle]} {...props}>
  <slot />
</a>
