---
import type { HTMLAttributes } from 'astro/types'
import { mergeStyle } from 'molcss'
import * as styles from './Link.styles'

interface Props extends HTMLAttributes<'a'> {}

const { class: className, ...props } = Astro.props
---

<a class={mergeStyle(styles.link, className)} {...props}>
  <slot />
</a>
