.PostListPager {
  text-align: center
}

.PostListPager-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 16px !important;
  margin-right: 8px !important;
  margin-left: 8px !important;
}
