---
import * as styles from './Tags.styles'

interface Props {
  tags: string[]
}

const { tags } = Astro.props

const separate = (separator: string, array: any[]) =>
  array.reduce((acc, v) => [...acc, separator, v], [] as astroHTML.JSX.Child[])
---

<ul>
  {
    separate(
      ' ',
      tags.map((v) => (
        <li class={styles.tagItem}>
          <a href={`/tags/${v}/`} class={styles.tagLink}>
            #{v}
          </a>
        </li>
      )),
    )
  }
</ul>
