---
import { css } from 'molcss'

interface Props {
  tags: string[]
}

const { tags } = Astro.props

const separate = (separator: string, array: any[]) =>
  array.reduce((acc, v) => [...acc, separator, v], [] as astroHTML.JSX.Child[])

const tagItemStyle = css`
  display: inline-block;
`

const tagLinkStyle = css`
  color: rgb(100 116 139);
  &:hover {
    text-decoration: underline;
  }
`
---

<ul>
  {
    separate(
      ' ',
      tags.map((v) => (
        <li class={tagItemStyle}>
          <a href={`/tags/${v}/`} class={tagLinkStyle}>
            #{v}
          </a>
        </li>
      ))
    )
  }
</ul>