---
import { tw } from 'tw-tag'

interface Props {
  tags: string[]
}

const { tags } = Astro.props

const separate = (separator: string, array: any[]) =>
  array.reduce((acc, v) => [...acc, separator, v], [] as astroHTML.JSX.Child[])

const tagItemStyle = tw(`
  inline-block
`)

const tagLinkStyle = tw(`
  text-slate-500
  hover:underline
`)
---

<ul>
  {
    separate(
      ' ',
      tags.map((v) => (
        <li class={tagItemStyle}>
          <a href={`/tags/${v}/`} class={tagLinkStyle}>
            #{v}
          </a>
        </li>
      ))
    )
  }
</ul>