body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


/* markdown */

h2 {
  border-bottom: 1px solid #6c6c6c;
  border-right: 1px solid #6c6c6c;
  padding-left: 0.5em;
}

img {
  max-width: 100%;
}

code {
  padding: .1em .4em;
  background-color:#EEEEEE;
  border-radius: 3px;
}


/* prismjs */

@import url("prismjs/themes/prism.css");

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	background: initial;
}
