/* nes.css + reboot */
@import url("./styles/nes.scss");

/* prismjs */
@import url("./styles/prism.css");

/* markdown */

img {
  max-width: 100%;
}

code {
  padding: .1em .4em;
  background-color:#EEEEEE;
  border-radius: 3px;
}
